        .page-content {
            min-height: 1000px;
        }
        
        .container,
        .panel {
            padding: 2px;
        }
        /* whole text on website is unselectable */
        
        html>* {
            -webkit-touch-callout: none;
            /* iOS Safari */
            -webkit-user-select: none;
            /* Safari */
            -khtml-user-select: none;
            /* Konqueror HTML */
            -moz-user-select: none;
            /* Old versions of Firefox */
            -ms-user-select: none;
            /* Internet Explorer/Edge */
            user-select: none;
            /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
        }
        
        .content {
            min-height: 500px;
        }
        /*         
        #dashboardContent {
            border-style: groove;
        }
         */
        
        #settingsContent {
            padding: 15px;
            float: left;
            width: 10%;
        }
        
        .ul {
            overflow: hidden;
            padding: 10px;
        }
        
        canvas {
            height: 95%;
            width: 95%;
            margin: auto;
        }
        
        .canvasContainer {
            position: absolute;
            height: 95%;
            width: 95%;
        }
        /* SWITCHES */
        /* The switch - the box around the slider */
        
        #switchText {
            padding-left: 10px;
        }
        
        .switch {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 24px;
        }
        /* Hide default HTML checkbox */
        
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        /* The slider */
        
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        .slider:before {
            position: absolute;
            content: "";
            height: 18px;
            width: 18px;
            left: 3px;
            bottom: 3px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        input:checked+.slider {
            background-color: rgb(52, 226, 96);
        }
        
        input:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }
        
        input:checked+.slider:before {
            -webkit-transform: translateX(18px);
            -ms-transform: translateX(18px);
            transform: translateX(18px);
        }
        /* Rounded sliders */
        
        .slider.round {
            border-radius: 34px;
        }
        
        .slider.round:before {
            border-radius: 50%;
        }
        
        #liveValueContainer {
            color: #587291;
            text-align: left;
            padding: 15px;
            width: inherit;
            height: inherit;
            font-size: 10px;
        }